

<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width"/>

        <title>Parciarl1 "Formulario de Venta"</title>

    </head>



    <body>
          
        <div aling="center">

        <H1>Rellene los Campos</H1>

            <form action="MostrarDatos" method="post" >

            <label>CUIT: <input type="text" name="Cuit" placeholder="Cuit.."/></label><br/>
            <label>Razon Social: <input type="text" name="Rsocial" placeholder="RazonSocial.." /></label><br/>
            <label>Domicilio: <input type="text" name="Domicilio" placeholder="Domicilio.." /></label><br/>
            <label>Email: <input type="text" name="Email" placeholder="Email.." /></label><br/>

            </form>

           <input type="submit" name="Guardar" value="Enviar"/>

        </div>


    </body>



</html>
